* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 20px;
    background-color: #4CB5F5;
    color: #ffffff;
    font-size: 34pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img { /*LOGO*/
    width: 70px;
    margin-right: 15px;
}

.nombreUsuario {
    display: inline;
    font-size: 14pt;
    color: #ffffff;
    background-color: #4f5565;
    padding: 10px 10px;
}

.btnSalir {
    font-size: 14pt; 
    padding: 10px 20px;
    background-color: #D9534F;
    color: #ffffff;
}

main {
    margin: 15px 15px;
}

.insercion {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.insercion > input {
    margin: 0 7px;
    width: 230px;
}

#inputId {
    width: 50px;
}

#btnRegistrar {
    font-size: 12pt;
    width: 150px;
    padding: 5px 0;
    border-style: none;
    background-color: #5CB85C;
    color: #ffffff;
}

/*Estilo tabla contenido*/
table{
    border-collapse: collapse;
    width: 90%;
    margin: 25px auto;
}

td, th {
    padding: 5px 0;
    font-size: 12pt;
    text-align: center;
}

.tablaDatos tr:nth-child(even){background-color: #f2f2f2;}

th {
    font-size: 13pt;
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
}

#btnModificar, #btnMod, .btnSesion {
    border-style: none;
    background-color: #5BC0DE;
    color: #ffffff;
    font-size: 12pt;
    padding: 5px 10px;
}

#btnEliminar{
    font-size: 12pt;
    width: 150px;
    padding: 5px 0;
    border-style: none;
    background-color: #D9534F;
    color: #ffffff;
}

#btnModificar:hover, #btnRegistrar:hover, #btnMod:hover, #btnEliminar:hover , .btnSesion:hover{
    background-color: #000000
}

.mensaje {
    margin: 15px auto;
    display: none;
    padding: 10px 0;
    font-size: 14pt;
    text-align: center;
    width: 400px;
    background-color: #FFFFBA;
    border: 1px solid #f5f58b;
    color: #000000;
}

/*Estilo para pagina modificar.jsp*/
.container {
    margin: 12px auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloModificar {
    font-size: 18pt;
}

.formModificar {
    width: 320px;
}
/*Para todo input*/
input[type=text] {
    font-size: 12pt;
    padding: 2px 2px;
}

/*----------Pagina inicio (de sesion)----------*/
.sesionContenedor {
    width: 100%;
}

.formSesion {
    padding: 30px 30px;
    justify-content: space-around;
    margin: 70px auto;
    height: 270px;
    width: 310px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.tituloSesion {
    font-size: 16pt;
    text-align: center;
}
